body {
    background-color: rgb(153, 129, 23);
    text-align: center;
    
}

.logo {
    display: flex;
    justify-content: center;
}

#app {
    background-color:burlywood;
    box-sizing: border-box;
    width: 85%;
    height: 50vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border: 2px;
    border-radius: 4px;
        
}

#question {
    height: 5vh;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    
}

#answer-area {
    height: 30vh;
    
} 

.btn {
    background-color: beige;
    width: 100%;
    border: 1px solid black;
    font-weight: 400;
    padding: 15px;
    margin: 5px 0;
    border-radius: 4px;
    font-size: 17px;
    text-align: left;
    cursor: pointer;
}

.btn:hover {
    background-color:darkgreen;
    color:white;
}


#next-btn {
    width: 125px;
    height: 50px;
    margin: 50px auto 0;
    cursor: pointer;
    background-color: black;
    color: white;
}